@charset "UTF-8";

:root{
    --text-color: #f0f6fc;
    --bg-color-default: #1a1a1b;
    --bg-nav-default: #242124;
    --border-color-default: #3d444d;
    --button-hover: #4f565f;
    --accent-color: #BB86FC;
}

h1, h2, h3, p{
    color: var(--text-color);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Tenor Sans", sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 25px;
}

body{
    background-color: var(--bg-color-default);
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-nav-default);
    height: 100px;
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 100px;
    justify-content: center;
}

.menu li a{
    background-color: none;
    padding: 10px 10px;
    display: inline-block;
    transition: background-color 0.2s ease, font-size 0.2s ease, padding 0.2s ease;
}

.menu li a:hover{
    font-size: 1.75rem;
}

.mainContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: none;
    padding-top: 50px;
    gap: 25px;
}

.container{
    display: flex;
    flex-direction: row;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    background-color: none;
    padding: 20px 70px;
    transition: all 0.4s ease;
    box-shadow: 3px 3px 10px var(--bg-nav-default);
    font-size: 1.3rem;
    width: 70%;
}

.container:hover{
    font-size: 1.38rem;
}


.button{
    display: inline-block;
    padding: 0.938rem 0.938rem;
    box-shadow: 3px 3px 10px var(--bg-nav-default);
    border: 2px solid var(--border-color-default);
    border-radius: 20px;
}

.button:hover{
      background-color: var(--button-hover);
}

.mainContainerProjet{
    align-items: center;
    display: flex;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    background-color: var(--bg-nav-default);
    flex-direction: column;
    background-color: none;
    margin-top: 3rem;
    width: 70%;
    gap: 25px;
}

.containerProjetRow{
    display: flex;
    flex-direction: row;
    background-color: none;
    gap: 30px;
    padding: 20px 70px;
    width: 70%;
}

.containerProjetRow:hover{
    font-size: 1.38rem;
}

.containerProjetCol{
    display: flex;
    flex-direction: row;
    background-color: none;
    padding: 20px 70px;
    transition: all 0.4s ease;
    box-shadow: 3px 3px 10px var(--bg-nav-default);
    font-size: 1.3rem;
    width: 70%;
}

.containerProjet{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    border-color: var(--border-color-default);
    background-color: var(--bg-color-default);
    padding: 1rem 1.5rem;
    transition: all 0.4s ease;
    align-items: center;
    box-shadow: 3px 3px 10px var(--bg-nav-default);
    font-size: 1.3rem;
}